

<div class="grid grid-cols-[1fr_3fr_2fr] gap-2">
  <div class="bg-gray-100 p-4">Column 1</div>
  <div class="bg-gray-200 p-6"><h2>Tweets</h2>
  
    <%= render '/shared/tweets'%>
  </div>
  <div class="bg-gray-300 p-4">Column 3</div>
</div>



